* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.container {
    margin: auto;
    width: 600px;
    height: 800px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 100px;
}

.circles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.circles div {
    margin: auto;
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 100%;
}

.circle-1 {
    background-color: lightskyblue;
}

.circle-2 {
    background-color: lightgray;
}