* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.header {
    text-align: center;
}

.container {
    margin: auto;
    width: 600px;
    height: 800px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
}

.note-spawn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.note-spawn div {
    border: 2px solid black;
    position: relative;
}

.note {
    position: absolute;
    top: 10px;
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 100%;
}

.circles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.circles div {
    margin: auto;
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 100%;
}

.circle-1 {
    background-color: lightskyblue;
}

.circle-2 {
    background-color: lightgray;
}